.image1 {
    margin-top: 14px;
}

body {
    background-image: url(images/hotel_blur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12 px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: rgba(235, 91, 7, 0.69);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    
}
header {
    height: 118px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

input[type=submit]:hover {
    background-color: rgba(170, 62, 0, 0.69);
    
}

.container {

    padding: 20px;
    
}

nav {
    background-color:rgba(235, 91, 7, 0.69);
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 30px;
    
}

main {
    height: 400px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}


h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
    padding-left: 47px;
    padding-right: 50px;
    margin-top: 100px;


}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: white;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

a {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    padding-left: 39px;
    padding-right: 39px;
    
}



